{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a style="color: black;" class="navbar-brand" href="/">Villa</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav ms-auto">
                  {% if user.is_authenticated %}
                  <li style="font-weight: bolder;" class="m-3"><a class="text-decoration-none text-dark" href="{% url 'register' %}">Hey {{user.username}}</a></li>
                  <li style="font-weight: bolder;" class="m-3"><a class="text-decoration-none text-dark" href="#">Create Post</a></li>
                  <li style="font-weight: bolder;" class="m-3"><a class="text-decoration-none text-dark" href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li style="font-weight: bolder;" class="m-3"><a class="text-decoration-none text-dark" href="{% url 'register' %}">SignUp</a></li>
                  <li style="font-weight: bolder;" class="m-3"><a class="text-decoration-none text-dark" href="{% url 'login' %}">Login</a></li>
                  {% endif %}
                  <li class="nav-item dropdown">
                    <a style="margin-right: 70px;" class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% if user.profile.profile_picture %}
                      <img class="img-fluid profile__img" src="{{ user.profile.profile_picture.url }}" alt="">
                      {% else %}
                      <img class="img-fluid profile__img" src="../static/images/avatar.png" alt="">
                      {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                      <li><a class="dropdown-item" href="#"><small class="m-2"><i class="bi bi-box-arrow-left"></i></small>Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="mt-5">
              <div class="row">
                  <div class="col-md-8 mb-5">
                    <div class="row">
                      <div class="col-md-6">
                          <img class="img-fluid detail__img" src="{{ hood.image.url }}" alt="">
                      </div>
                      <div class="col-md-6">
                        <h3 style="font-weight: bolder;">Name : {{ hood.name }}</h3>
                        <h4>Location : {{ hood.location }}</h4>
                        <p>Emergency contact : {{ hood.emergency_num }}</p>
                      </div>
                    </div>
                    <hr>
                    <h5>Available Businesses</h5>
                    <div class="row">
                      {% for business in business %}
                      <div class="col-md-6">
                        <div class="img__box mb-5">
                          <img class="img-fluid biz__img" src="{{ business.business_img.url }}" alt=""><br>
                          <div class="d-flex justify-content-between align-items-center">
                            <small style="padding: 10px;">{{ business.name }}</small>
                            <small style="padding: 10px;">{{ business.ministry }}</small>
                          </div>

                          <small style="padding: 10px;">Email : {{ business.email }}</small><br>
                          <small style="padding: 10px;font-size: 14px;">{{ business.description }}</small>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <h6 style="font-weight: bolder;">Available Posts</h6>
                    {% for post in posts %}
                     <small style="font-weight: bolder;">{{ post.title }} - </small>
                     <small class="text-muted">{{ post.post }}</small><br>
                     <div class="d-flex justify-content-between align-items-center">
                      <small>By {{ post.user }}</small>
                      <small>{{ post.post_date }}</small>
                     </div>
                     <hr>
                    {% endfor %}
                  </div>
                  <div class="col-md-4 post__img" style="background: white;padding: 20px;">
                    <h5 class="mb-5">Drop a post below</h5>
                     <form action="{% url 'submit_post' hood.id %}" method="POST">
                       {% csrf_token %}
                       <label for="title">Title</label>
                       <input style="box-shadow: none;" name="title" type="text" class="form-control" placeholder="write a title...">
                       <label class="mt-3" for="post">Post</label>
                       <input style="box-shadow: none;" name="post" type="text" class="form-control" placeholder="write a post...">
                       <button type="submit" style="background:#202121" class="btn1 mt-3">Post</button>
                     </form>
                  </div>
              </div>
          </div>
    </div>
</body>
</html>