@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Nunito:wght@400;600&display=swap');
*{
    margin: 0;
}
body{
    font-family: Nunito;
    background: #F9F9F9;
}

/* hero section */
.hero__section{
    background-image: url('../images/pexels-pixabay-259588.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 510px;
}
.hero__fadeBottom{
    height: 27.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}
.profile__img{
    height: 50px;
    width: 50px;
    border-radius: 999px;
    object-fit: cover;
}
.navbar-brand{
    color: white;
    font-weight: bolder;
}
.navbar-brand:hover{
    color: crimson;
    transition: .7s;
}
.poster__section{
    display: flex;

    overflow-y: hidden;
    overflow-x: scroll;
}
.poster__section::-webkit-scrollbar{
    display: none;
}
/* posts section */
.poster__img{
    max-height: 250px;
    margin: 3px;
    border-radius: 6px;
    transition: transform 450ms;
}
.poster__img:hover{
    transform: scale(1.08);
}
/* register page */
.form__container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
    padding: 30px;
    margin-top: 10vh;
}
.form__container > form > input:focus{
    box-shadow: none;
}
.form__container > form > select:focus{
    box-shadow: none;
}
.btn1{
    background: #111;
    color: white;
    width: 100%;
    border: none;
    height: 38px;
    border-radius: 5px;
}
/* footer */
footer{
    background: #111;
    color: white;
    padding-top: 10px;
    margin-top: 10vh;
}