@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Nunito:wght@400;600&display=swap');
*{
    margin: 0;
}
body{
    font-family: Nunito;
}

/* hero section */
.hero__section{
    background-image: url('../images/neighbour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.profile__img{
    height: 50px;
    width: 50px;
    border-radius: 999px;
    object-fit: cover;
}
.navbar-brand{
    color: white;
    font-weight: bolder;
}
.navbar-brand:hover{
    color: crimson;
    transition: .7s;
}
.poster__section{
    display: flex;

    overflow-y: hidden;
    overflow-x: scroll;
}
.poster__section::-webkit-scrollbar{
    display: none;
}
/* posts section */
.poster__img{
    max-height: 170px;
    margin: 3px;
    border-radius: 6px;
    transition: transform 450ms;
}
.poster__img:hover{
    transform: scale(1.08);
}
